<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack web app</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/application.js"></script>
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <strong>
            <ul class="nav nav-pills">
              <li><a href="/" >Start playing!</a></li>
              <li><a href="https://github.com/Frenzy277/Blackjack-webapp" ><i class="icon-star icon-white"></i> Star me on GitHub</a></li>
              <% if session[:game_count] %>
                <span class="badge badge-inverse" id="game_count">
                  <%= "Game count: #{session[:game_count]}" %><br>
                  <%= "Difficulty: #{difficulty_name if session[:difficulty]}" %>
                </span>
              <% end %>
              <% if session[:balance] && @gameover.nil? %>
                <div class='pull right'>
                  <li class='btn btn-primary'>House: €<%= session[:house] %></li>
                  <li class='btn btn-danger'>Balance: €<%= session[:balance] %></li>
                </div>
              <% end %>
            </ul>
          </strong>
          
        </div>
      </div>
    </div>



    <div class="container">
      <%if @error %>
        <div class="alert alert-error"><%=@error%></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
