<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/">Start playing!</a></li>
              <% if session[:balance] %>
                <li><div class='btn btn-danger'>€<%= session[:balance] %></div></li>
              <% end %>
              <!-- <li><a href="/about"> About author.</a></li> -->
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% elsif @info %>
      <div class="alert alert-info"><%=@info%></div>
    <% elsif @success %>
      <div class="alert alert-success"><%=@success%></div>
    <% elsif @warning %>
      <div class="alert alert-warning"><%=@warning%></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
